<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/register"> Registrarse </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card class="cardLogin">
      <ion-card-header>
        <ion-card-title> Iniciar Sesión </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="login()">
          <ion-list>
            <ion-item>
              <ion-input
                label="Nombre de usuario"
                label-placement="floating"
                fill="solid"
                placeholder="Ingrese el nombre de usuario"
                formControlName="username"
                errorText="El nombre es requerido"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                label="Contraseña"
                label-placement="floating"
                fill="solid"
                type="password"
                placeholder="Ingrese el la contraseña"
                formControlName="password"
                errorText="La contraseña es requerida"
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-button expand="full" color="primary" type="summit">
                Ingresar
              </ion-button>
            </ion-item>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
