<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-sub-menu></app-sub-menu>
<ion-content [fullscreen]="true" id="main-content">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-select
            type="text"
            placeholder="Buscar"
            formControlName="categories"
            [multiple]="true"
            (ionChange)="getData()"
          >
            @for (category of catalogues; track $index) {
            <ion-select-option [value]="category.id"
              >{{ category.name }}</ion-select-option
            >
            }
          </ion-select>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <app-group-cards [notices]="notices"></app-group-cards>
</ion-content>
