<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-sub-menu></app-sub-menu>
<ion-content [fullscreen]="true" id="main-content">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-select
            type="text"
            placeholder="Buscar"
            formControlName="categories"
            [multiple]="true"
          >
            @for (category of catalogues; track $index) {
            <ion-select-option [value]="category.id"
              >{{ category.name }}</ion-select-option
            >
            }
          </ion-select>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <section class="noticesGroup">
    @for (item of notices; track $index) {
    <ion-card class="noticeCard">
      <img [src]="item.imageUrl" class="imgCard" />
      <ion-card-header>
        <ion-card-title>
          <h2>{{ item.title }}</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="bodyCard">
          <p class="description">{{ item.description }}</p>
          <div class="categoriesGroup">
            @for (category of item.categories; track $index) {

            <ion-chip [disabled]="true">
              <ion-label>{{ category.name }}</ion-label>
            </ion-chip>
            }
          </div>
          <ion-button
            expand="full"
            color="primary"
            routerLink="/notice/{{ item.id }}"
            >Ver más</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
    }
  </section>
</ion-content>
