<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Noticias Nombre</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button routerLink="/notice/home" expand="full"> Inicio </ion-button>
    @if(isAdmin){
    <ion-accordion-group #accordionGroup>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Noticias</ion-label>
        </ion-item>
        <div
          class="ion-padding optionMenu"
          slot="content"
          routerLink="/notice/create"
        >
          Crear Noticias
        </div>
      </ion-accordion>

      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Categorías</ion-label>
        </ion-item>
        <div
          class="ion-padding optionMenu"
          slot="content"
          routerLink="/notice/category"
        >
          Ver categorías
        </div>
        <div
          class="ion-padding optionMenu"
          slot="content"
          routerLink="/notice/category/create"
        >
          Crear categoría
        </div>
      </ion-accordion>

      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Roles</ion-label>
        </ion-item>
        <div
          class="ion-padding optionMenu"
          slot="content"
          routerLink="/notice/roles/create"
        >
          Crear rol
        </div>
        <div
          class="ion-padding optionMenu"
          slot="content"
          routerLink="/notice/roles"
        >
          Ver roles
        </div>
      </ion-accordion>
      <!-- <ion-accordion value="four">
        <ion-item slot="header" color="light">
          <ion-label>Usuarios</ion-label>
        </ion-item>
        <div
          class="ion-padding optionMenu"
          slot="content"
          routerLink="/notice/users"
        >
          Ver usuarios
        </div>
      </ion-accordion> -->
    </ion-accordion-group>
    }
    <ion-button color="danger" (click)="logout()" expand="full">
      Cerrar sesión
    </ion-button>
  </ion-content>
</ion-menu>
